#header {
  background-color: #323232;
  background-image: none;
} 

div.region-header div.site-branding__name a {
  color: #feca1b;
}

#block-training-theme-account-menu li.menu-item a {
  color: #feca1b;
}

footer {
  background-color: #323232;
} 